
div.about {

   display: flex;
   justify-content: center;
   align-items: center;

   div.about-container {
      margin: auto;
      padding: 150px 275px;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h2 {
       text-transform: uppercase;
       color: $colors1;
       font-size: 30px;
       margin-bottom: 40px;
      }

      p {
        font-size: 20px;
        margin-bottom: 40px;
      }

      button {
        padding: 20px 75px;
        border: none;

        background: $colors1;
        color: $colors2;

        text-align: center;
        text-transform: uppercase;
      }
   }
}
