$colors1 : rgb(215, 15, 100);
$colors2 : white;

@mixin button {
  padding: 20px 75px;
  border: none;

  background: $colors1;
  color: $colors2;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
