$colors1 : rgb(215, 15, 100);
$colors2 : white;
$colors3 : rgba(255, 255, 255, 0.3);
$colors4 : black;

$margin70 : 70px;
$margin_auto: auto;

$width100 : 100%;
$imgWidth : 44px;
$spanWidth : 47px;

$dieci : 10px;
$venti : 20px;
$trenta : 30px;
$quaranta: 40px;
$cinquanta : 50px;
$settanta : 70px;
$centocinquanta : 150px;

$center : center;


@mixin button {
  padding: $venti 75px;
  border: none;
  border-radius: 8px;

  text-align: $center;
  text-transform: uppercase;
  margin-bottom: $quaranta;
}

@mixin h2 {
  text-transform: uppercase;
  font-size: $trenta;
  margin-bottom: $quaranta;
}

@mixin p {
  font-size: $venti;
  margin-bottom: $quaranta;
}

@mixin div {
  display: flex;
  justify-content: $center;
  align-items: $center;
}

@mixin container {
  margin: auto;
  padding: $centocinquanta 275px;

  display: flex;
  justify-content: $center;
  flex-direction: column;
  align-items: $center;
}

@mixin headerFooter {
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin header-left {
  display: flex;
  justify-content: flex-start;
  align-items: $center;
  width: 50%;
}
@mixin footer-left {
  display: flex;
  justify-content: $center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

@mixin headerFooter-icon {
  width: 244px;
  height: $trenta;
}

@mixin header-right {
  display: flex;
  justify-content: flex-end;
  align-items: $center;
  width: 50%;
}
@mixin footer-right {
  display: flex;
  flex-direction: column;
  justify-content: $center;
  align-items: flex-end;
  width: 50%;
}

@mixin txt {
  text-transform: uppercase;
  text-align: $center;
}

@mixin absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin background {
  background-size: cover;
  background-position: $center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
