$colors1 : rgb(215, 15, 100);
$colors2 : white;

@mixin button {
  padding: 20px 75px;
  border: none;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@mixin h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 40px;
}

@mixin p {
  font-size: 20px;
  margin-bottom: 40px;
}

@mixin div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  margin: auto;
  padding: 150px 275px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin headerFooter {
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin headerFooter-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

@mixin headerFooter-icon {
  width: 244px;
  height: 30px;
}

@mixin headerFooter-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
