
div.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   background: $colors1;
   background-size: cover;

   div.contact-container {
      margin: auto;
      padding: 150px 275px;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: $colors2;

      h2 {
         text-transform: uppercase;
         color: $colors2;
         font-size: 30px;
         margin-bottom: 40px;
      }

      p {
         font-size: 20px;
         margin-bottom: 40px;
      }

      button {

         padding: 20px 75px;
         background: $colors2;
         border: none;
         color: $colors1;
         text-align: center;
         text-transform: uppercase;
         margin-bottom: 40px;
      }
   }
}
