
div.contact {
   max-width: 1349px;
   @include div;
   background: $colors1;

   div.contact-container {
     @include container;
      color: $colors2;
      text-align: $center;

      h2 {
         @include h2;
         color: $colors2;
      }

      p {
         @include p;
      }

      button {
        @include button;
        background: $colors2;
        color: $colors1;
      }
   }
}
