
div.header {
   @include headerFooter;

   margin: 0 $margin70;

   div.hamburger-menu {

      .fa-bars {
        display: none;
        color: $colors1;
        position: relative;
        top: $venti;
        left: $dieci;
      }
   }

   div.header-left {
      @include header-left;

      div.header-left-icon {
         @include headerFooter-icon;
      }
   }

   div.header-right {
     @include header-right;
     flex-direction: row;

     ul {
        display: flex;

        li {
            list-style: none;
            padding: 15px;
            text-transform: uppercase;
            color: $colors1;
        }
      }
   }

   div.hidden-header-right {

     display: flex;
     display: none;
     flex-direction: column;

     min-width: 100vw;
     min-height: 50vh;

     position: absolute;
     top: 50px;
     left: 0;
     z-index: 100;

     background-color: $colors2;

     ul {


        li {
            list-style: none;
            padding: 15px;
            text-transform: uppercase;
            color: $colors1;
        }
      }
   }

   div.active {
     display: block;
   }
}
