@media all and (min-width: 768px) and (max-width: 1100px) {

  div.header {
    position: relative;
    margin: 0;

    div.header-left {

       @include absolute;

       div.hamburger-menu {

         .fa-bars {
           display: block;
           
         }
       }

       div.header-left-icon {

           margin: $margin_auto;
       }
    }

    div.header-right {

       ul {

         li {
           display: none;
         }
       }
    }
  }

  div.about {
     div.about-container {
       padding: 150px 30px;
     }
  }

  div.carrers {
     div.carrers-container {
       padding: 150px 30px;
     }
  }

  div.press {
     div.press-container {
       padding: 150px 30px;
     }
  }

  div.contact {
     div.contact-container {
       padding: 150px 30px;
     }
  }
}
