@media screen and (max-width:768px) {

  div.header {
    position: relative;
    margin: 0;

    div.header-left {

       @include absolute;

       div.hamburger-menu {

         .fa-bars {
           display: block;
           position: relative;
           right: 150px;
         }
       }

       div.header-left-icon {

           margin: $margin_auto;
       }
    }

    div.header-right {

       ul {

         li {
           display: none;
         }
       }
    }
  }

  div.slider {

    div.nations {
       display: flex;
       flex-direction: column;
       position: relative;
       margin: $margin_auto;
       width: $width100;
       padding: 10px 0;

       div.choose-country {
          width: 30%;
          @include txt;
          color: $colors1;
          text-shadow: $settanta $settanta $settanta $colors4;
          margin-bottom: $trenta;
       }

       div.nations div.nations-flags {
          width: 70%;

          img {
              width: 44px;
              height: $trenta;
              margin: 5px;
          }
       }
    }
  }

  div.about {
     div.about-container {
       padding: 150px 30px;
     }
  }

  div.carrers {
     div.carrers-container {
       padding: 150px 30px;
     }
  }

  div.press {
     div.press-container {
       padding: 150px 30px;
     }
  }

  div.contact {
     div.contact-container {
       padding: 150px 30px;
     }
  }
}
