@media screen and (max-width:768px) {

  div.header {
    position: relative;
    margin: 0;

    div.header-left {

       @include absolute;

       div.hamburger-menu {

         .fa-bars {
           display: block;
           position: relative;
           right: 150px;
         }
       }

       div.header-left-icon {

           margin: auto;
       }
    }

    div.header-right {

       ul {

         li {
           display: none;
         }
       }
    }
  }
}
