@media all and (min-width: 768px) and (max-width: 1100px) {

  div.header {
    position: relative;
    margin: 0;

    div.hamburger-menu {

      i.fa-bars {
        display: block;
        color: $colors1;
        position: relative;
        top: $venti;
        left: $dieci;
      }
    }

    div.header-left {

       @include absolute;

       div.header-left-icon {

           margin: $margin_auto;
       }
    }

    div.header-right {

       ul {

         li {
           display: none;
         }
       }
    }
  }

  div.slider {

    div.slider-img{

       img{
           width: $width100;
       }

       h1 {
         position: relative;
         bottom: 130px;

         color: $colors2;
         text-shadow: $venti $venti $venti $colors4;

         @include txt;
         font-size: $quaranta;
         padding: 8px 0;
       }
     }

    div.nations {
       display: flex;
       flex-direction: column;
       position: relative;
       bottom: $dieci;
       margin: $margin_auto;
       width: $width100;
       padding: $dieci 0;

       div.choose-country {
          width: $width100;
          @include txt;
          color: $colors1;
          text-shadow: $settanta $settanta $settanta $colors4;
          margin-bottom: $trenta;
          font-size: $trenta;
       }

       div.nations-flags {

          @include div;
          flex-wrap: wrap;
          padding-left: $trenta;
          margin: $margin_auto;

          div.nations-flags-items {

            img {
                width: 44px;
                height: $trenta;
                margin: 5px;
            }

            span {
              display: block;
            }
          }
       }
    }
  }

  div.about {
     div.about-container {
       padding: $centocinquanta $trenta;
     }
  }

  div.carrers {
     div.carrers-container {
       padding: $centocinquanta $trenta;
     }
  }

  div.press {
     div.press-container {
       padding: $centocinquanta $trenta;
     }
  }

  div.contact {
     div.contact-container {
       padding: $centocinquanta $trenta;
     }
  }
}
