
div.slider{
   width: 1349px;
   position: relative;

   div.slider-img{

      img{
          width: $width100;
      }
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: white;
      text-shadow: 20px 20px 20px black;

      @include txt;
      font-size: 40px;
      padding: 8px 0;
    }

    div.nations {
       display: flex;
       background: rgba(255, 255, 255, 0.3);
       position: absolute;
       bottom: 0;
       margin: auto;
       width: $width100;
       padding: 10px 0;

    div.choose-country {
       width: 30%;
       @include txt;
       color: $colors2;
       text-shadow: 70px 70px 70px black;
    }

    div.nations div.nations-flags {
      width: 70%;

      img {
        width: 44px;
        height: 30px;
        margin: 5px;
      }
    }
  }
}
